# Dotfiles
.cloud/
.homekit.state
.pip_progress
.storage/
**/.DS_Store

# By extension
*.conf
*.db
*.db-shm
*.db-wal
*.log
*.swp

# Files
known_devices.yaml
secrets.yaml

# Folders
deps/
ssl/
tts/

# Python cache
__pycache__
*.pyc
