# Dotfiles
.cloud/
.google.token
.homekit.state
.pip_progress
.storage/
**/.DS_Store

# By extension
*.conf
*.db
*.db-shm
*.db-wal
*.log
*.log.*
*.swp

# Files
known_devices.yaml
secrets.yaml
core

# Folders
deps/
ssl/
tts/

# Python cache
__pycache__
*.pyc

# Music Assistant
music_assistant.db-journal

# local HACS plugins
lovelace/clock_weather_card.yaml
