# Dotfiles
.cloud/
.storage/
.homekit.state
**/.DS_Store

# By extension
*.conf
*.db
*.log
*.db-shm
*.db-wal

# Files
known_devices.yaml
secrets.yaml

# Folders
ssl/
deps/
tts/

# Python cache
__pycache__
*.pyc