---
name: validate links
on: push

jobs:
  validate_links_in_readme:
    name: validate links
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Set up Ruby 2.6
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.1
      - name: Install Awesome Bot
        run: gem install awesome_bot
      - name: Run Awesome Bot
        run: awesome_bot --allow-redirect --allow-dupe README.md
